@{
    ViewBag.Title = "PhotoAlbum - Upload page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- A standard form for sending the image data to your server -->
<div id='backend_upload'>
    <h1>Upload through your server</h1>

    @using (Html.BeginForm("UploadServer", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input id="fileupload" type="file" name="files" multiple accept="image/gif, image/jpeg, image/png">
        <input type="submit" value="Upload">
    }
</div>

<a href="~/Home/Index" class="back_link">Back to list...</a>