@{
    ViewBag.Title = "Upload succeeded!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Your photo has been uploaded successfully!</h1>
<h2>Upload details:</h2>
<table class='info'>
    @foreach (var key in @Model.Dict.Keys)
    {   
        <tr>
            <td>@key</td>
            <td>@Model.Dict[key]</td>
        </tr>
    }
</table>
<br />
@Html.Raw(Model.Cloudinary.Api.UrlImgUp.Format("jpg")
    .Transform(new CloudinaryDotNet.Transformation().Height(150).Width(150).Crop("fill"))
    .BuildImageTag(Model.Dict["public_id"], new CloudinaryDotNet.StringDictionary("class=thumbnail inline")))
<a href="~/Home/Index" class="back_link">Back to list...</a>
