@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Css
{
    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="~/Content/themes/base/jquery.ui.progressbar.css" />
    <link rel="icon" href="@Model.CloudinaryApi.Url.ResourceType("image").Action("fetch").BuildUrl("http://cloudinary.com/favicon.png")" />
}

@section Scripts{
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
    <script type="text/javascript">

        // Create progressbar
        $(function () {
            $("#progressbar").progressbar({
                value: 0
            });
        });

        // Add a timer to check uploading progress
        var timer;
        $(function () {
            timer = setTimeout(function () {
                checkUploading();
            }, 500);
        });

        // Checks uploading progress
        function checkUploading() {
            $.ajax({
                type: "POST",
                url: "/Home/Progress/",
                dataType: "json",
                success: function (p) {
                    $("#progressbar").progressbar({
                        value: p.progress
                    });

                    if (p.progress == 100) { location.reload(); }
                    else {
                        timer = setTimeout(function () {
                            checkUploading();
                        }, 500);
                    }
                },

            });
        }

    </script>
}

<div id="waitscreen">
    <div class="caption">Uploading, please wait...</div>
    <div id="progressbar"></div>
    <div class="public_id">
        If your browser does not support javascript, just refresh the page...
    </div>
</div>
