@page
@model photo_album.Pages.UploadSucceededModel

@{
    ViewBag.Title = "Upload succeeded!";
}

<br />
<h1>Your photo has been uploaded successfully!</h1>
<h2>Upload details:</h2>

@foreach (var item in @Model.Items)
{
    <table class='info'>
        @foreach (var imageProperty in @item)
        {
            <tr>
                <td>@imageProperty.Key</td>
                <td>@imageProperty.Value</td>
            </tr>
        }
    </table>
    <br />

    @Html.Raw(Cloudinary.Api.UrlImgUp.Format("jpg").Transform(new CloudinaryDotNet.Transformation().Height(150).Width(150).Crop("fill"))
    .BuildImageTag(item["public_id"], new CloudinaryDotNet.StringDictionary("class=thumbnail inline")))
}

<a asp-page="Index" class="back_link">Back to list...</a>
