@page
@model IndexModel

@{
    ViewData["Title"] = "PhotoAlbum - Main page";
}

<div class="container mt-5" >
    <!-- Welcome Section -->
  
    <div class="card-body text-center" style="font-size: 1.5rem; line-height: 1.8;">
        <h1 class="card-title" style="font-size: 3rem; line-height: 1.2;">Welcome to PhotoAlbum!</h1>
        

        <p class="card-text" style="font-size: 1.5rem; line-height: 1.8;">
            This is the main demo page of the PhotoAlbum sample .NET application of Cloudinary.<br />
            Here, you can see all the images you have uploaded to this .NET application and find some information on how to implement your own .NET application to store, manipulate, and serve your photos using Cloudinary.
        </p>
    </div>

    <!-- Cloudinary Info Section -->
    <div class="card-body text-center" style="font-size: 1.5rem; line-height: 1.8;">
        <h2 style="font-size: 2.5rem; line-height: 1.4;">Cloudinary Image Transformation</h2>
        <p style="font-size: 1.5rem; line-height: 1.8;">
            All of the images you see here are transformed and served by Cloudinary. For instance, the logo and the poster frame. These images were not even uploaded to Cloudinary—they are retrieved by the service, transformed, cached, and distributed through a CDN.
        </p>
        <p style="font-size: 1.5rem; line-height: 1.8;">
            Cloudinary’s powerful functions like <strong>fetch_image_tag</strong> and <strong>facebook_profile_image_tag</strong> allow you to manipulate images effortlessly.
        </p>
    </div>

    <!-- Call-to-Action Section -->
    <div class="text-center mt-4 w-100">
        <a href="/Upload" class="btn btn-primary btn-lg">Upload Your Photos Now</a>
    </div>
    <div id="posterframe mt-1">
        <!-- This will render the fetched Facebook profile picture using Cloudinary according to the
             requested transformations -->
        @Html.Raw(Cloudinary.Api.UrlImgUp.Action("facebook").Format("png")
                 .Transform(new Transformation()
                 .Width(95)
                 .Height(95)
                 .Crop("thumb")
                 .Gravity("face")
                 .Effect("sepia")
                 .Radius(20)
                 .Chain() // apply current stack of transformations before processing next
                 .Angle(10))
                 .BuildImageTag("officialchucknorrispage"))
    </div>
    <div id="logo-container" style="position: relative; width: 100%; height: 100%;">
        <div id="logo" style="position: absolute; top: 10%; left: 10%; width: 20%;">
            <!-- This will render the image fetched from a remote HTTP URL using Cloudinary -->
            @Html.Raw(Cloudinary.Api.UrlImgUp.Signed(true).Secure().Action("fetch").Transform(new Transformation()
                 .Width(344)
                 .Height(76)).BuildImageTag("http://cloudinary.com/images/logo.png"))
        </div>
    </div>
</div>



@section scripts
{
    <script type="text/javascript">
        $(function () {
            $('.toggle_info').click(function () {
                $(this).closest('.photo').toggleClass('show_more_info');
                return false;
            });
        });
    </script>
}
