<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Cloudinary.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup/>
  <applicationSettings>
    <Cloudinary.Test.Properties.Settings>
      <setting name="CloudName" serializeAs="String">
        <value>dt7dlkaum</value>
      </setting>
      <setting name="ApiKey" serializeAs="String">
        <value>743578136545741</value>
      </setting>
      <setting name="ApiSecret" serializeAs="String">
        <value>wETwOKHSP6vvb4VHzZNh4qWcCGQ</value>
      </setting>
      <setting name="ApiBaseAddress" serializeAs="String">
        <value />
      </setting>
    </Cloudinary.Test.Properties.Settings>
  </applicationSettings>
</configuration>
